<div class="jumbotron mb-0" id="contacts" >
    <div class="container">
        <h1 class="mb-4" >{{ lang.block_contacts.header }}</h1>
        
        <p class="lead mb-4">{{ lang.block_contacts.desc }}</p>
        <a class="btn btn-md btn-primary" href="//tg.me/official_crypto_tanks" role="button">{{ lang.block_contacts.btn_text1 }}</a>
        <a class="btn btn-md btn-primary ml-2" href="//tg.me/official_crypto_tanks" role="button">{{ lang.block_contacts.btn_text2 }}</a>

    </div>
</div> 