<footer class="text-muted bg-dark pt-4 pb-4">
    <div class="container">
        <p class="float-right">
            <a href="#top" class="btn btn-primary" >{{ lang.block_footer.btn_top }}</a>
        </p>
        <p class="mb-0 text-white">
            {{ lang.block_footer.link_yur_1 }}
            <a href="/terms-of-service.pdf" meta="application/pdf" >{{ lang.block_footer.link_yur_2 }}</a>
        </p>
    </div>
</footer>