<div class="container pt-2 pb-2" id="token">

    <div class="row mt-4 mb-4 pt-4 pb-4">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center font-weight-bolder">{{ lang.block_token.header }}</h1>
        </div>
    </div>

    <div class="row mt-4 mb-0 pt-4 pb-4">
        <div class="mb-3 col-6 col-md-3 d-flex justify-content-center">
            <img src="/site/img/CryptoTanks.png" width="100%" />
        </div>
        <div class="mb-3 col-md-9 d-flex justify-content-center"> 
            <div class="ml-4 mt-3"> 
                <p class="mb-4">
                    {{ lang.block_token.desc }}
                </p>
                <h2>{{ lang.block_token.contract }}</h2>
                <p class="mb-4">
                    0xf182176BE476BF0BbD04c069aAEFc04Df46507Fe
                    <a href="jvasacript:void(0);&quot;" class=""></a>
                </p>
                <a class="btn btn-md btn-warning" href="javascript:void(0);" onclick="eth.add_coin()" >{{ lang.block_token.btn_text }}</a>
            </div>         
        </div>
    </div>

</div>